@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    line-height: 1.15;
    ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(190deg, #a99df6 0%, #654fbe 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #222;
    overflow: hidden;
}

.App {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

}

.App h1 {

    display: inline;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 0 0 5px #433aa8, 3px -1px 5px #272727;

}

.addList {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.listInput {
    min-width: 15rem;
    width: 40w;
    max-width: 2.5rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    align-self: center;
}

.listInput:focus {
    outline: none;
    border: 2px solid #433aa8;
}

.add-btn {
    margin-left: 1rem;
    background-color: #271c6c;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 2.5rem;
    width: 3.1rem;
    cursor: pointer;
    box-shadow: 2px 4px 10px #271c6c;
    justify-content: center;
    align-items: center;
    margin-left: 5.5rem;
}

.add-btn:focus {
    outline: none;

}

.dispalyList {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttons {
    margin-bottom: 2rem;

}

.buttons button {
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.buttons:focus {
    outline: none;
}

.buttons button:not(:last-child) {
    margin-right: 1rem;
}

.dispalyList ul {
    list-style: none;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    background: rgb(180, 182, 218);
    margin: 0 1rem 1rem 0;
    height: 8rem;
    width: 18rem;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
}

.card textarea {
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    background-color: white;
    height: 70%;
}

.card textarea:disabled {
    background-color: transparent;
}

.btns {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.btns button {
    border-radius: 20%;
    border: none;
    margin: 0 0.6rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: #271c6c;
    background-color: transparent;
}

.form {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: none;
    margin-left: 530px;
    height: 37vh;
}

.row {
    margin-bottom: 10px;
}

.col {
    margin-bottom: 10px;
}